.full-screen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 100vh;
}
.noBorder {
    text-align: center;
    color: #000;
    border: solid 2px transparent;
    padding: 12px 12px 12px 12px;
    margin: 0px 0px 0px 0;
}
.withBorder {
    text-align: center;
    color: #000;
    border: solid 2px #EC3A4B;
    padding: 12px 12px 12px 12px;
    margin: 0px 0px 0px 0;
}
